.opacity {
    background-color: rgb(228, 222, 222);
    opacity: 0.9;
    /* Opacidad 60% */

  }

  .opacity2 {
    background-color: rgb(83, 154, 187);
    opacity: 0.9;
    /* Opacidad 60% */

  }
  .opacity2 {
    background-color: rgb(145, 204, 223);
    opacity: 0.9;
    text-align: center;
    /* Opacidad 60% */

  }